body {
    background: #3F5EFB;
    background: linear-gradient(330deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    font-family: "Trebuchet MS", Verdana, sans-serif;
    text-decoration: none;
    color: white;
}

a::before {
    content: "➤";
}
a {
    text-decoration: none;
    color: lightblue;
}

nav {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
