html, body {
    min-height: 100vh;
}

body {
    background: #ffffff;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(199, 215, 255, 1) 100%);
    font-family: "Trebuchet MS", Verdana, sans-serif;
    text-decoration: none;
    background-attachment: fixed;
    color: #314049
}

a::before {
    content: "➤";
}

a {
    text-decoration: none;
    padding: 0.5em;
    color: #3c675f;

}

a:hover {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);

}

nav, footer {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
