nav {
    position: sticky;
    top: 0;
    background-color: beige;
    margin: auto;
    padding: 1em;
    width: 800px;
}

#cv {
    margin: auto;
    width: 800px;
}

img {
    width: 230px;
    float: right;
    /*margin: 0 0 1rem 1rem;*/
}
