body {
    position: relative;
}

nav, footer {
    position: sticky;
    margin: auto;
    padding: 1em;
    width: 800px;
}

footer {
    bottom: 0l
}

nav {
    top: 0;
}

/*
nav a, span {
    padding-right: 1em;
}
*/
.keyvalue {
    padding-right: 1em;
    padding-left: 1em;
}

#cv {
    margin: auto;
    width: 800px;
}

img {
    width: 230px;
    float: right;
    /*margin: 0 0 1rem 1rem;*/
}
