#cv {
    margin: auto;
    border: 1px solid #ccc;
    padding: 1rem;
}

.code {
    color: dimgrey;
    background-color: cornsilk;
}

.divider {
    /* comment out add spacing between sections */
    display: none;
    padding: 1rem;
}
